RewriteEngine On
RewriteRule ^index.php$ / [QSA,R]
DirectoryIndex index.php
#szhimaem vse
# ----------------------------------------------------------------------
# Gzip ñæàòèå
# ----------------------------------------------------------------------
<IfModule mod_deflate.c>
  # Âêëþ÷àåì deflate äëÿ íå ñòàíäàðòíûõ çàãîëîâêîâ:
  # http://developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css \
    								application/json text/javascript application/javascript application/x-javascript text/x-js text/ecmascript application/ecmascript text/vbscript text/fluffscript \
    								text/xml application/xml text/x-component \
    								application/xhtml+xml application/rss+xml application/atom+xml \
    								image/x-icon image/svg+xml application/vnd.ms-fontobject application/x-font-ttf application/x-font-woff font/opentype
  </IfModule>
</IfModule>
#zapret na use img s drugih resorsov
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.fix.kz$ [NC]
RewriteRule ^(.*)$ http://fix.kz/$1 [R=301,L]
#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?one-page.kz [NC]
#RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]
#keshirovanie
#<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
#Header set Cache-Control "max-age=2592000"
Header set Cache-Control "max-age=2592000"
#</FilesMatch>
#nekeshirovanie
#<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi)$">
#Header unset Cache-Control
#</FilesMatch>
#propuskaem dialog zagruzki
#AddType application/octet-stream .pdf
#AddType application/octet-stream .zip
#AddType application/octet-stream .mp3
AddDefaultCharset UTF-8